<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <header>
        <div class="nav-top">
            <img src="/img/logo mercado liebre.jpg" alt="Logo">
            <h4>Compra en cuotas y sin tarjeta de credito</h4>
            <input type="text" placeholder="Buscar productos">

        </div>
        <div class="nav-bottons">
            <ul class="links">
                <li><a href="/"> Home</a></li>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <li><a href="/login"> Login</a> </li>
                <li> <a href="/registro"> Register</a></li>
            </ul>

    </header>
    <main>
        <h1 class="titulologin"> !Hola¡ ingresa tu informacion para registrarte </h1>
        <br>
        <br>

        <form class="formulario-registro">
            <label>Nombre</label>
            <input type="text" name="Nombre" placeholder="ingresa tu Nombre" required>
            <br>
            <label> Apellidos</label>
            <input type="text" name="Apellidos" placeholder="Ingresa tus Apellidos" required>
            <br>
            <label>Correo Electronico</label>
            <input type="email" name="Correo Electronico" placeholder="Ingresa tu correo electronico" required>
            <br>
            <label> Telefono</label>
            <input type="tel" name="Telefono" placeholder="Ingresa tu Numero de telefono" required>
            <br>
            <label> Contraseña</label>
            <input type="password" name="Contraseña" placeholder="Ingresa tu contraseña" required>
            <br>
            <label> Confirmar Contraseña</label>
            <input type="password" name="Confirmar Contraseña" placeholder="Confirma tu contraseña" required>
            <a href="Olvido su contraseña">Ya tengo cuenta</a>
            <br>
            <button> Crear cuenta</button>
            <br>
            <button> Cancelar</button>
        </form>
    </main>
    <footer>

    </footer>
</body>

</html>